.card {
  background-color: $color-white;
  // padding: calc(20rem / 16);
  padding: var(--20px);
  border-radius: 20px;
  box-shadow: 0 1.5rem 6rem rgba($color-blue--dark, 0.2);
  max-width: calc(300rem / 16);
  display: flex;
  flex-direction: column;
  // gap: calc(20rem / 16);
  gap: var(--20px);
  margin-top: calc(100rem / 16);

  &__heading {
    font-weight: 700;
    // margin-bottom: calc(15rem / 16);
    margin-bottom: var(--15px);
  }

  &__info {
    // margin-bottom: calc(20rem / 16);
    margin-bottom: var(--20px);
  }

  &__description {
    line-height: 1.5;
    color: $color-blue--grey;
  }

  &__img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 50em) {
    margin: 0;
  }
}

.attribution {
  // margin-top: calc(20rem / 16);
  margin-top: var(--20px);
}
