body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: var(--15px);
  text-align: center;
  color: $color-blue--dark;
}

.attribution {
  font-size: var(--12px);
}
.attribution a {
  color: $color-blue--dark;
  transition: all 0.2s;

  &:hover {
    color: $color-blue--grey;
    text-decoration: none;
  }
}
